<template>
  <button
    type="button"
    class="btn btn-primary mx-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    New Order
  </button>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="productID" class="form-label">Order ID </label>
            <input
              type="number"
              class="form-control"
              id="productID"
              readonly
              v-model="orderID"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
              Select Product
            </label>
            <select
              class="form-select"
              aria-label="Default select example"
              v-model="product"
            >
              <option selected value="0">Select product</option>
              <option
                v-for="product in products"
                :key="product.id"
                :value="product.id"
              >
                {{ product.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label"> Price </label>
            <input
              type="number"
              class="form-control"
              id="price"
              readonly
              v-model="price"
            />
          </div>
          <div class="mb-3">
            <label for="count" class="form-label"> Count </label>
            <input
              type="number"
              class="form-control"
              id="count"
              v-model="count"
            />
          </div>
          <div class="mb-3">
            <label for="count" class="form-label"> Sum </label>
            <input
              type="number"
              class="form-control"
              id="count"
              readonly
              v-model="sum"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="createPayment()"
            data-bs-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import shopContract from "@/core/contracts/Shop/Shop.js";
export default {
  data: function () {
    return {
      products: [
        { id: 1, name: "Product 1", price: 100 },
        { id: 2, name: "Product 2", price: 200 },
        { id: 3, name: "Product 3", price: 300 },
      ],
      product: 0,
      price: 0,
      count: 0,
      orderID: 0,
      clientID: 1,
    };
  },
  watch: {
    product(newProduct) {
      this.price =
        newProduct == 0
          ? 0
          : this.products.find((product) => product.id === newProduct).price;
    },
  },
  computed: {
    sum() {
      return this.price * this.count;
    },
  },
  mounted() {
    this.orderID = Math.floor(Math.random() * 1000000000);
  },
  methods: {
    async createPayment() {
      let result = await shopContract.createPayment(
        this.clientID,
        this.orderID,
        this.sum
      );
      this.clearForm();
      alert(result.message);
    },
    clearForm() {
      this.product = 0;
      this.count = 0;
    },
  },
};
</script>