<template>
  <div class="hello">
    <div class="d-flex align-items-start px-3">
      <div
        class="nav flex-column nav-pills me-3"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <button
          class="nav-link active"
          id="v-pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#v-pills-home"
          type="button"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
        >
          Client
        </button>
        <button
          class="nav-link"
          id="v-pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#v-pills-profile"
          type="button"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
        >
          Seller
        </button>
      </div>
      <div class="tab-content px-3 w-100" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          <h2>Client</h2>
          <orderModal />
          <button
            type="button"
            class="btn btn-primary px-3"
            @click="getClientBalance()"
          >
            Balance
          </button>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <h2>Seller</h2>
          <button
            type="button"
            class="btn btn-primary mx-3 px-3"
            @click="withdrawAll()"
          >
            Transfer to wallet
          </button>
          <button
            type="button"
            class="btn btn-primary px-3"
            @click="getContractBalance()"
          >
            Balance contract
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import shopContract from "@/core/contracts/Shop/Shop.js";
import orderModal from "@/components/OrderForm.vue";
export default {
  components: { orderModal },
  mounted() {
    this.listenEvents();
  },
  methods: {
    async createPayment() {
      console.log(await shopContract.createPayment());
    },
    async withdrawAll() {
      console.log(await shopContract.withdrawAll());
    },
    async getClientBalance() {
      const balance = await shopContract.getClientBalance();
      alert("Balance: " + balance + " ETH");
    },
    async getContractBalance() {
      const balance = await shopContract.getContractBalance();
      alert("Balance: " + balance + " ETH");
    },
    listenEvents() {
      shopContract.listenEvents();
    },
  },
};
</script>
