<template>
  <shop/>
</template>

<script>
import shop from './components/ShopComponent.vue'

export default {
  name: 'App',
  components: {
    shop
  },
   mounted() {
    window.ethereum.request({ method: 'eth_requestAccounts' })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
